{% extends "layout.html" %}

{% block title %}The Best YA Fantasy Books In 2021{% endblock %}

{% block main %}
   
    <div class="container">

        <h1 class="mt-4 mb-3">
            The Best YA Fantasy Books In 2021
        </h1>
      
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                {% if session.user_id %}
                    <a href="/home">Home</a>
                {% else %}
                    <a href="/">Home</a>
                {% endif %}
            </li >
            <li class="breadcrumb-item">
                <a href="/articles">Articles</a>
            </li>
            <li class="breadcrumb-item active">The Best YA Fantasy Books In 2021</li>
        </ol>
        <!-- style="margin-left: 50px; margin-right: 50px; -->
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-8">
                <p class="lead">

                    <h4>1. Witches steeped in gold, by by Ciannon Smart</h4><br>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card mb-4">
                                <img src="static/images/books/YA21/witchessteepedingold.png" alt="Witches steeped in gold">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <a href="/" target="_blank" rel="nofollow" class="but"><div class="button">Shop Now!</div></a>
                            <!-- <div class="card mb-4"> -->
                            <p>This Jamaican-style fantasy novel debuts with two rival witches who must form a deadly alliance to defeat a common enemy, characterized by the twisted cat and mouse of killing Eve, and the fantasy city of Furyborn And Ember in the Ashes.</p>
                            <p>Divided by their order, United for revenge. Iraya and Jazmyne enter a precarious alliance to take down a mutual threat. But power is intoxicating, revenge is a bloody pursuit, and nothing is certain—except the lengths they will go to win this game.</p>
                            <!-- </div> -->
                        </div>
                    </div>
                    <br><hr><br>

                    <h4>2. Wings Of Ebony, by J. Elle</h4><br>
                    <div class="row">
                        
                        <div class="col-md-5">
                            <div class="card mb-4">
                                <img src="static/images/books/YA21/wingsofebony.png" alt="Wings Of Ebony">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <a href="/" target="_blank" class="but"><div class="button">Shop Now!</div></a>
                            <p>New York Times bestseller!</p>
                            <p>In this fascinating and emotional debut fantasy, a black girl from Houston must subvert the world after learning her 
                                divine origin and must save the worlds of both humans and gods.</p>
                        </div>
                    </div>
                    <br><hr><br>

                    <h4>3. We Free The Stars, by Hafsah Faizal</h4><br>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card mb-4">
                                <img src="static/images/books/YA21/wefreethestars.png" alt="we free the stars">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <a href="/" target="_blank" class="but"><div class="button">Shop Now!</div></a>
                            <p>The second book in the Sands of Arawiya duology by the masterful Hafsah Faizal, the sequel of the New York Times bestselling novel We Hunt the Flame</p>
                            <p>After the battle on Sharr, Zafira and Nasir return to a ghostly Sultan’s Keep, low on resources and allies alike. 
                                The dark forest has fallen, but the kingdom teems with fear of the Lion of the Night’s return. 
                                As Nasir struggles to master the dark power in his blood, Zafira struggles against very different darkness festering through her bond with the Jawarat</p>
                        </div>
                    </div>
                    <br><hr><br>

                    <h4>4. Rule Of Wolves, by Leigh Bardugo</h4><br>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card mb-4">
                                <img src="static/images/books/YA21/ruleofwolves.png" alt="Rule Of Wolves">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <a href="/" target="_blank" class="but"><div class="button">Shop Now!</div></a>
                            <p>The second book in the New York Times-bestselli king of scars duology, set in the Grishaverse and focused on the characters the demon king Nikolai Lantsov, the stormwitch Zoya Nazyalensky, and the queen of mourning Nine Zenik.</p>
                            <p>King. General. Spy. Together and each on his own, they must find a way to forge a future in the darkness. Or watch their nation fall/</p>
                            <p>NOTE: See the Grishaverse come to life on screen with Shadow and Bone, now a Netflix original series.</p>
                            <p>
                                <small><span style="color: red;">A very menor spoiler!</span><br>
                                    The crows are gonna shop up briefly in this book.
                                    God I love them.
                                </small>
                            </p>
                        </div>
                    </div>
                    <br><hr><br>

                    <h4>5. Into The Heartless Wood, by Joanna Ruth Meyer</h4><br>
                    <div class="row">
                       <div class="col-md-5">
                            <div class="card mb-4">
                                <img src="static/images/books/YA21/intotheheartlesswood.png" alt="Into The Heartless Wood">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <a href="/" target="_blank" class="but"><div class="button">Shop Now!</div></a>
                            <p>The forest is a dangerous place, where siren song lures men and women to their deaths. For centuries, a witch has harvested souls to feed the heartless tree, using its power to grow her domain.</p>
                            <p>Owen, a human boy that lives at the edge of the forest with his family, and Seren, a tree Siren made by an evil witch destined to kill everyone who enters the forest. 
                                Owen and Seren end up meeting and upon that meeting, their lives change.</p>
                        </div>
                    </div>
                    <br><hr><br>

                    <h4>6. Chain Of Iron, by Cassandra Clare</h4><br>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card mb-4">
                                <img src="static/images/books/YA21/chainofiron.png" alt="Chain Of Iron">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <a href="/" target="_blank" class="but"><div class="button">Shop Now!</div></a>
                            <p>The most anticipated dangerous and romantic sequel to the New York Times bestselling novel Chain of Gold.</p>
                            <p>Chain of iron is the second book in The last hours trilogy, it follows the lives and adventures of the merry thieves: Christopher and Thomas Lightwood, James Herondale, Matthew Fairchild, and Lucie Lightwood and Cordelia Carstairs.
                                <small>and also though briefly appears the love of my life and my forever crush Will Herondale ❤</small>
                            </p>
                        </div>
                    </div>
                    <br><hr><br>

                    <h4>7. The gilded Ones, by Namina Forna</h4><br>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card mb-4">
                                <img src="static/images/books/YA21/thegildedones.png" alt="The gilded Ones">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <a href="/" target="_blank" class="but"><div class="button">Shop Now!</div></a>
                            <p>The must-read new bold and immersive West African-inspired fantasy series.</p>
                            <p>
                                Deka lives in Otera, a deeply patriarchal kingdom, in which a woman's worth is tied to her purity, and she has to bleed to prove it. 
                                But whilst Deka bleeds gold - the color of impurity, of a demon - she faces a consequence worse than death. She is saved through 
                                a mysterious woman who tells Deka of her true nature: she is an Alaki, a near-immortal with extraordinary gifts. The stranger gives her a choice: fight for the Emperor, with others similar to her, or be destroyed.
                            </p>
                        </div>
                    </div>
                    <br><hr><br>
                    
                    <h4>8. Shadow City, by Francesca Flores</h4><br>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card mb-4">
                                <img src="static/images/books/YA21/shadowcity.png" alt="Shadow City">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <a href="/" target="_blank" class="but"><div class="button">Shop Now!</div></a>
                            <p>Shadow City is the second and final installment in The City of Diamond and Steel duology.</p>
                            <p>The story picks up where Diamond City left off, where Alina Solís and her old boss test each other’s strengths and limits, 
                                each of them knowing that once the old corrupted army general Bautix is dead, they’ll still have to face each other.
                                If she manages to kill him, she’ll finally have the freedom she wants, but it might forever mark her as his shadow in a city where only the strongest survive.
                            </p>
                        </div>
                    </div>
                    <br><hr><br>
                    
                    <h4>9. Lost In The Never Woods, by Aiden Thomas</h4><br>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card mb-4">
                                <img src="static/images/books/YA21/lostintheneverwoods.png" alt="Lost In The Never Woods">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <a href="/" target="_blank" class="but"><div class="button">Shop Now!</div></a>
                            <p>
                                When children start to go missing in the local woods of the small coastal town of Astoria, 
                                a teen girl Wendy must face her fears and a past she can't remember to rescue them.
                            </p>
                        </div>
                    </div>
                    <br><hr><br>
                    
                    <h4>10. The Mirror Season, by Anna-Marie McLemore</h4><br>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card mb-4">
                                <img src="static/images/books/YA21/themirrorseason.png" alt="The Mirror Season">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <a href="/" target="_blank" class="but"><div class="button">Shop Now!</div></a>
                            <p>
                                When two teens Graciela Cristales and Lock discover that they were both sexually assaulted at the same party, 
                                they develop a cautious friendship through her family’s possibly-magical pastelería, 
                                his secret forest of otherworldly trees, and the swallows returning to their hometown.
                            </p>
                        </div>
                    </div>
                </p>
            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
                <div class="card mb-4">
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}