{% extends "layout.html" %}

{% block title %}The best Novels To Read In 2021{% endblock %}

{% block main %}
<div class="container">

    <h1 class="mt-4 mb-3">
        The best Novels To Read In 2021
    </h1>
  
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            {% if session.user_id %}
                <a href="/home">Home</a>
            {% else %}
                <a href="/">Home</a>
            {% endif %}
        </li>
        <li class="breadcrumb-item">
            <a href="/articles">Articles</a>
        </li>
        <li class="breadcrumb-item active">The best Novels To Read In 2021</li>
    </ol>

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">
            <p class="lead">
                <h4>1. A Crooked Tree, by Una Mannion</h4><br>
                <div class="row">
                    
                    <div class="col-md-5">
                        <div class="card mb-4">
                            <img src="static/images/books/novels21/acrookedtree.jpg" alt="A Crooked Tree">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <a href="/" target="_blank" class="but"><div class="button">Shop Now!</div></a>
                        <p>
                            In this debut novel set in rural Pennsylvania, a 15-year-old girl recounts the events of the summer of 1981, 
                            when the bonds of family and friendship are tested not only by inner tensions, but also by an outside threat in the form of a predatory stranger.<br>
                            A Crooked Tree is a surprising, indelible novel, both a poignant portrayal of an unmoored childhood giving way to adolescence, and a gripping tale about the unexpected reverberations of one rash act.
                        </p>
                    </div>
                </div>
                <br><hr><br>

                <h4>2. Girl a, by Abigail Dean</h4><br>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card mb-4">
                            <img src="static/images/books/novels21/girla.jpg" alt="Girl a">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <a href="/" target="_blank" class="but"><div class="button">Shop Now!</div></a>
                        <p>
                            Girl A is a novel by Abigail Dean that was published in January 2021. For the crime thriller, which includes the abuse of children.<br>
                            Girl A is a brutal look at a family whose history is as inescapable as it is horrible. The siblings wants to move forward, 
                            but having the house and Lex's desire to do something with it will stir up memories that hurt, 
                            dark things that reach out form the past to affect who those kids grew up to be.
                        </p>
                    </div>
                </div>
                <br><hr><br>

                <h4>3. How The One-armed Sister Sweeps Her House, by Cherie Jones</h4><br>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card mb-4">
                            <img src="static/images/books/novels21/howtheonearmed.jpg" alt="How The One-armed">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <a href="/" target="_blank" class="but"><div class="button">Shop Now!</div></a>
                        <p>
                            How the One-Armed Sister Sweeps Her House is a story set in Barbados during the sultry summer of 1984, about generational cycles of abuse, 
                            misogyny and subjugated women. One of the characters becomes a great-grandmother at 46 years of age 
                            (that fact tells you a lot about the kind of story this is).
                        </p>
                    </div>
                </div>
                <br><hr><br>

                <h4>4. My Year Abroad, by Chang-Rae Lee</h4><br>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card mb-4">
                            <img src="static/images/books/novels21/myyearabroad.jpg" alt="My Year Abroad">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <a href="/" target="_blank" class="but"><div class="button">Shop Now!</div></a>
                        <p>
                            INSTANT NATIONAL BESTSELLER!<br>
                            “My Year Abroad” alternates between Tiller’s thrilling and harrowing journey through Asia 
                            and the following year where he sets up a quasi-family in the American suburbs with Val, 
                            a depressed 30-something woman, and her son, two people living under witness protection whom 
                            he happens to fall for in the food court of the Hong Kong airport on his return home.
                        </p>
                    </div>
                </div>
                <br><hr><br>

                <h4>5. Summerwater, by Sarah Moss</h4><br>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card mb-4">
                            <img src="static/images/books/novels21/summerwater.jpg" alt="Summerwater">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <a href="/" target="_blank" class="but"><div class="button">Shop Now!</div></a>
                        <p>
                            Sharp, searching, thoroughly imagined, utterly of the moment.<br>
                            Summerwater, by Sarah Moss, takes place over a single day of unrelenting rain at a vacation site in the Scottish Trossachs. 
                            Families are huddled in damp holiday cottages, a "muddle of softening wooden walls" with "eyes at every window."
                        </p>
                    </div>
                </div>
                <br><hr><br>

                <h4>6. The Kindest Lie, by Nancy Johnson</h4><br>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card mb-4">
                            <img src="static/images/books/novels21/thekindestlie.jpg" alt="The Kindest Lie">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <a href="/" target="_blank" class="but"><div class="button">Shop Now!</div></a>
                        <p>
                            What is the cost of secrets and lies? That is the question at the heart of Nancy Johnson’s debut novel, 
                            “The Kindest Lie.” It is the story of a woman preparing to have her first child with the husband she adores; 
                            but first, she must confront the fact that she already has a son — a baby she was forced to give up when she was a teenager.
                        </p>
                    </div>
                </div>
                <br><hr><br>

                <h4>7. The Push, by Ashley Audrain</h4><br>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card mb-4">
                            <img src="static/images/books/novels21/thepush.jpg" alt="The Push">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <a href="/" target="_blank" class="but"><div class="button">Shop Now!</div></a>
                        <p>
                            A tense, page-turning psychological drama about the making and breaking of a family–and 
                            a woman whose experience of motherhood is nothing at all what she hoped for–and everything she feared.<br>
                            In The Push, Blythe Connor is a woman who is trying desperately to be the perfect mother 
                            that everyone else seems to be, but she's struggling. Soon, she begins to wonder if there's 
                            something genuinely wrong with her daughter, Violet, though her husband insists it isn't true.
                        </p>
                    </div>
                </div>
                <br><hr><br>

                <h4>8. The Removed, by Brandon Hobson</h4><br>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card mb-4">
                            <img src="static/images/books/novels21/theremoved.jpg" alt="The Removed">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <a href="/" target="_blank" class="but"><div class="button">Shop Now!</div></a>
                        <p>
                            Steeped in Cherokee myths and history, a novel about a fractured family reckoning 
                            with the tragic death of their son long ago - from National Book Award finalist Brandon 
                            Hobson. In the fifteen years since their teenage son, Ray-Ray, was killed in a police 
                            shooting, the Echota family has been suspended in private grief.
                        </p>
                    </div>
                </div>
                <br><hr><br>

                <h4>9. The Wife Upstairs, by </h4><br>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card mb-4">
                            <img src="static/images/books/novels21/thewifeupstairs.jpg" alt="The Wife Upstairs">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <a href="/" target="_blank" class="but"><div class="button">Shop Now!</div></a>
                        <p>
                            New York Times bestseller!<br>
                            The Wife Upstairs is a reimagining of Jane Eyre as a modern-day Southern Gothic 
                            mystery novel set in Alabama. In Hawkin's retelling, Jane is a struggling and cynical 
                            former foster kid who meets the handsome and wealth Eddie Rochester.
                        </p>
                    </div>
                </div>
                <br><hr><br>

                <h4>10. This Close To Okay, by </h4><br>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card mb-4">
                            <img src="static/images/books/novels21/thisclosetookay.jpg" alt="This Close To Okay">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <a href="/" target="_blank" class="but"><div class="button">Shop Now!</div></a>
                        <p>
                            This Close to Okay is a book about two strangers who form a beautiful bond: Tallie, 
                            a recently divorced therapist, and Emmett, a man standing at the edge of a bridge. 
                            The book takes place primarily over one weekend when Tallie provides a home for Emmett after she finds him on the bridge.
                        </p>
                    </div>
                </div>
                <br><hr><br>
            </p>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <div class="card mb-4">
                
            </div>
        </div>
    </div>
</div>
{% endblock %}